p   {
    background: aqua;
    color: darkmagenta;
    font-size: 18px;
    }
h2  {
    font-size: 33px;
    background: blue;
    color: chocolate;
    }
h1  {
    font-size: 33px;
    background: deeppink;
    color: blueviolet;
    }